<h2>Questions</h2>
<h3>How do you say...</h3>
<ul>
  <% @questions.each do |question| %>
		<li><%= link_to "'#{question.phrase.capitalize}' in #{question.language.name unless question.language.nil?}?", question %></li>
  <% end %>
</ul>